{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma de Co-Creación</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <h1>Bienvenido a la Plataforma de Co-Creación</h1>
        <p>Esta plataforma te permite colaborar en proyectos artísticos de manera colaborativa.</p>
    </main>
</body>
</html>